{% extends 'base.html.twig' %}

{% block title %}Les formations - {{ APP_NOM_OF }} {% endblock %}

{% block body %}
    <!-- Les formations -->
    <section class="learn-press-profile-section section section-padding">
        <div class="container">

            <h1 class="text-center">L'ensemble de nos formations,<br>dédiées aux professionnels.</h1>

            <section class="mt-5">

                <div class="learn-press-profile-nav">
                    <ul class="nav">
                        {% for domaineFormation in domainesFormation %}

                            <li><a {{ loop.first ? 'class="active"' : '' }} data-bs-toggle="tab"
                                                                            href="#{{ domaineFormation.slug }}">
                                    {{ domaineFormation.nom }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </section>

            <!-- Domaine Start -->
            {% for domaineFormation in domainesFormation %}
                <div class="tab-content">
                    <div id="{{ domaineFormation.slug }}"
                         class="tab-pane fade {{ loop.first ? 'active show' : '' }}">

                        <!-- Thématique menu Start -->
                        <ul class="lp-tab-menu nav">

                            {% for thematiqueFormation in domaineFormation.thematiqueFormations %}

                                {% if thematiqueFormation.formations is not empty %}
                                    <li><a {{ loop.parent.loop.first and loop.first ? 'class="active"' : '' }}
                                            data-bs-toggle="tab"
                                            href="#{{ thematiqueFormation.slug }}"
                                            aria-selected="true"
                                            role="tab">
                                            {{ thematiqueFormation.nom }}
                                        </a>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                        <!-- Thématique menu end -->

                        <!-- Formation Start -->
                        <div class="tab-content">
                            {% for thematiqueFormation in domaineFormation.thematiqueFormations %}
                                {% if thematiqueFormation.formations is not empty %}

                                    <div id="{{ thematiqueFormation.slug }}"
                                         class="tab-pane fade {{ loop.parent.loop.first and loop.first ? 'active show' : '' }}">

                                        <table class="lp-list-table table">
                                            <thead>
                                            <tr>
                                                <th>Formation</th>
                                                <th>Durée</th>
                                                <th>Niveau</th>
                                                <th>Prix</th>
                                                <th>Note moyenne</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for formation in thematiqueFormation.formations %}

                                                <tr>
                                                    <td>
                                                        <a href="{{ path('app_formation_voir', {'slug': formation.slug}) }}">{{ formation.nom }}</a>
                                                    </td>
                                                    <td>
                                                        {{ formation.nbJour }}
                                                        jour{{ (formation.nbJour > 1 ? 's' : '') }}
                                                    </td>
                                                    <td>{{ formation.niveau.nom }}</td>
                                                    <td>{{ formation.prixInter }}€</td>
                                                    <td>
                                                        {% if formation.avisFormations is not empty %}

                                                            nul

                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('app_formation_voir', {'slug': formation.slug}) }}"
                                                           class="btn btn-primary btn-v-sm">Voir la
                                                            formation
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!-- Formation End -->
                    </div>
                </div>
            {% endfor %}
            <!-- Domaine End -->

        </div>
    </section>
    <!-- Les formations End -->
{% endblock %}
