<section class="main-content__section">
    <div class="row">

        <div class="col-4">
            {{ form_row(form.nom) }}
        </div>

        <div class="col-4">
            {{ form_row(form.reference) }}
        </div>

        <div class="col-4">
            {{ form_row(form.niveau) }}
        </div>

        <div class="col-6">
            {{ form_row(form.description) }}
        </div>

        <div class="col-6">
            {{ form_row(form.courteDescription) }}
        </div>
    </div>
</section>
<section class="main-content__section">
    <div class="row">
        <div class="col-4">
            {{ form_row(form.thematique) }}
        </div>

        <div class="col-4">
            {{ form_row(form.eligibleCpf) }}
            {{ form_row(form.auTop) }}
        </div>

        <div class="col-4">
            {{ form_row(form.nbJour) }}
        </div>

        <div class="col-4">
            {{ form_row(form.prixInter) }}
        </div>

        <div class="col-4">
            {{ form_row(form.prixIntra) }}
        </div>

        <div class="col-4">
            {{ form_row(form.nbApprenant) }}
        </div>


    </div>
</section>
