{% extends 'admin/base_admin.html.twig' %}

{% block body %}

    <section class="main-content__section">
        <a href="{{ path('app_admin_formation_ajouter') }}" class="btn btn--primary btn-sm mb-4"
           data-turbo="false">Ajouter une thématique de formation</a>

        <table class="table" data-table>
            <thead>
            <tr>
                <th>Nom</th>
                .0.0
                <th>Domaine de formation</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for thematique in thematiques %}
                <tr>
                    <td>{{ thematique.nom }}</td>
                    <td>{{ thematique.domaine.nom }}</td>
                    <td>

                        <a
                            href="{{ path('app_admin_formation_modifier', {'id': thematique.id}) }}"
                            class="btn btn-sm btn--secondary mt-2" data-turbo="false">Modifier
                        </a>
                        <a
                            href="{{ path('app_admin_formation_supprimer', {'id': thematique.id}) }}"
                            onclick="return confirm('Voulez-vous vraiment supprimer cette thématique ?')"
                            class="btn btn-sm btn--tertiary mt-2">Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
