{% extends 'admin/base_admin.html.twig' %}

{% block body %}

    <section class="main-content__section">
        <a href="{{ path('app_admin_formation_ajouter') }}" class="btn btn--primary btn-sm mb-4"
           data-turbo="false">Ajouter une thématique de formation</a>

        <table class="table" data-table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Thématique et niveau</th>
                <th>Prix</th>
                <th>Durée</th>
                <th>Nombre d'apprenants max</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for formation in formations %}
                <tr>
                    {# Nom, référence, au top #}
                    <td>
                        {{ formation.nom }}
                        <br><span class="badge bg--primary">{{ formation.reference }}</span>

                        {% if formation.auTop %}
                            <br><span class="badge bg--tertiary">
                                <i class="fa-regular fa-star"></i> Au top sur l'accueil
                            </span>
                        {% endif %}
                    </td>

                    {# Thématique, niveau #}
                    <td>
                        {% for thematique in formation.thematique %}
                            <span class="badge bg--secondary">{{ thematique.nom }}</span>
                        {% endfor %}
                        <br><span class="badge bg--quaternary">{{ formation.niveau.nom }}</span>
                    </td>

                    {# Prix #}
                    <td>

                        {% if formation.prixIntra %}
                            <span class="badge bg--primary">Prix intra : {{ formation.prixIntra }}</span><br>
                        {% endif %}
                        {% if formation.prixInter %}
                            <span class="badge bg--secondary">Prix inter : {{ formation.prixInter }}</span>
                        {% endif %}
                    </td>

                    {# Nombre de jours #}
                    <td>
                        {{ formation.nbJour }} jours
                    </td>

                    <td>
                        {{ formation.nbApprenant }}
                    </td>
                    <td>

                        <a
                            href="{{ path('app_admin_formation_modifier', {'id': formation.id}) }}"
                            class="btn btn-sm btn--secondary mt-2" data-turbo="false">Modifier
                        </a>
                        <a
                            href="{{ path('app_admin_formation_supprimer', {'id': formation.id}) }}"
                            onclick="return confirm('Voulez-vous vraiment supprimer cette formation ?')"
                            class="btn btn-sm btn--tertiary mt-2">Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
