{% extends 'base.html.twig' %}

{% block title %}{{ APP_NOM_OF }} - Contact{% endblock %}


{% block body %}

    <div class="contact-information-section section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-title">
                        <span class="sub-title">Besoin d'information ?</span>
                        <h2 class="title">Contactez nous</h2>
                    </div>

                    <div class="contact-info-wrap max-mb-n50">

                        <!-- Single Contact Info Start -->
                        <div class="contact-info max-mb-50">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="info">
                                <h4 class="title">Contacts</h4>
                                <span class="info-text">Téléphone : <strong>+33 6 62 67 16 78</strong>
                                    <br>Mail: <a href="mailto:hello@hasthemes.com">contact@lapir.fr</a>
                                </span>
                            </div>
                        </div>
                        <!-- Single Contact Info End -->

                        <!-- Single Contact Info Start -->
                        <div class="contact-info max-mb-50">
                            <div class="icon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <div class="info">
                                <h4 class="title"> Horaires d'ouverture</h4>
                                <span class="info-text"> Lundi - Vendredi : 09:00 – 17:00</span>
                            </div>
                        </div>
                        <!-- Single Contact Info End -->
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="contact-image mt-sm-50 mt-xs-50">
                        <img src="{{ asset('images/contact.jpeg') }}" class="w-50" alt="contact">

                        <!-- Animation Shape Start -->
                        <div class="shape shape-1 scene">
                                <span data-depth="3">
                                    <img src="{{ asset('images/shape-animation/about-shape-1.png') }}" alt="forme 1">
                                </span>
                        </div>
                        <div class="shape shape-2 scene">
                            <span data-depth="-3"><img src="{{ asset('images/shape-animation/about-shape-1.png') }}"
                                                       alt="forme 1"></span>
                        </div>
                        <div class="shape shape-3 scene">
                            <span data-depth="4">shape 3</span>
                        </div>
                        <div class="shape shape-4 scene">
                            <span data-depth="4"><img src="{{ asset('images/shape-animation/about-shape-1.png') }}"
                                                      alt="forme 1"></span>
                        </div>
                        <div class="shape shape-5 scene">
                            <span data-depth="4"><img src="{{ asset('images/shape-animation/newsletter-shape-2.png') }}"
                                                      alt="forme 2"></span>
                        </div>
                        <!-- Animation Shape End -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}