{% extends 'admin/base_admin.html.twig' %}

{% block body %}

    <section class="main-content__section">
        <a href="{{ path('app_admin_chapitre_ajouter') }}" class="btn btn--primary btn-sm mb-4"
           data-turbo="false">Ajouter un chapitre de formation</a>

        <table class="table" data-table>
            <thead>
            <tr>
                <th>Formation</th>
                <th>Module</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for chapitre in chapitres %}
                <tr>
                    <td>{{ chapitre.moduleFormation.formation.nom }}</td>
                    <td>
                        <span class="badge bg--primary">{{ chapitre.moduleFormation.ordre }}</span>
                        {{ chapitre.moduleFormation.nom }}
                    </td>
                    <td>
                        <span class="badge bg--secondary">{{ chapitre.ordre }}</span>
                        {{ chapitre.nom }}
                    </td>
                    <td>

                        <a
                            href="{{ path('app_admin_chapitre_modifier', {'id': chapitre.id}) }}"
                            class="btn btn-sm btn--secondary mt-2" data-turbo="false">Modifier
                        </a>
                        <a
                            href="{{ path('app_admin_chapitre_supprimer', {'id': chapitre.id}) }}"
                            onclick="return confirm('Voulez-vous vraiment supprimer ce chapitre ?')"
                            class="btn btn-sm btn--tertiary mt-2">Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
