<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Admin {{ APP_NOM_OF }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="{{ asset('images/mathieu.png') }}">

    {% block stylesheets %}
        {# Data table #}
        <link rel="stylesheet" href="{{ asset('librairies/datatables/dataTables.min.css') }}">

        {# Font Awesome #}
        <link rel="stylesheet" href="{{ asset('librairies/font-awesome-7-0-1/css/all.min.css') }}">
    {% endblock %}


    {% block javascripts %}
        {% block importmap %}{{ importmap('app_admin') }}{% endblock %}

        {# jQuery #}
        <script defer src="{{ asset('librairies/jQuery.js') }}"></script>

        {# Data Table #}
        <script defer src="{{ asset('librairies/datatables/dataTables.min.js') }}"></script>
        <script defer src="{{ asset('librairies/datatables/data-table.js') }}"></script>
        <script>
            window.datatableLangUrl = "{{ asset('librairies/datatables/data_table_fr.json') }}";
        </script>

        <script src="https://cdn.tiny.cloud/1/bnbb74k7apni5g4b6pd2ohrefo2yne5n23koyt6wwnmfztb8/tinymce/8/tinymce.min.js"
                referrerpolicy="origin"></script>
        <script defer src="{{ asset('librairies/tiny_mce.js') }}"></script>

    {% endblock %}
</head>
<body>

<section class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg--primary min-vh-100" style="width: 280px;">
        <div class="mb-3 ms-3 mb-md-0 text-white text-decoration-none">
            <span class="fs-4">{{ APP_NOM_OF }}</span>
        </div>

        <hr>

        <ul class="nav flex-column mb-auto menu-sidebar">

            <li>
                <a href="{{ path('app_admin_domaine') }}"
                   class="nav-link {{ app.request.attributes.get('_route') matches '/^app_admin_domaine/' ? 'active' : '' }}">
                    <i class="fa-solid fa-hand-holding-medical"></i> Domaines
                </a>
            </li>

            <li>
                <a href="{{ path('app_admin_thematique') }}"
                   class="nav-link {{ app.request.attributes.get('_route') matches '/^app_admin_thematique/' ? 'active' : '' }}">
                    <i class="fa-solid fa-hand-holding-medical"></i> Thématiques
                </a>
            </li>

            <hr>

            <li>
                <a href="{{ path('app_logout') }}" class="nav-link">
                    <i class="fa-solid fa-hand"></i> Déconnexion
                </a>
            </li>

        </ul>

    </div>

    <div class="main-content">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-position" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block body %}{% endblock %}
        </div>
    </div>

</section>

</body>
</html>
