<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/mathieu.png') }}">

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('librairies/font-awesome-7-0-1/css/all.min.css') }}">
        
    {% endblock %}

    {% block javascripts %}

        {% block importmap %}{{ importmap('app') }}{% endblock %}

        <script src="{{ asset('librairies/theme_de_base/vendor_theme_de_base.min.js') }}" defer
                data-turbo="false"></script>
        <script src="{{ asset('librairies/theme_de_base/plugins_theme_de_base.min.js') }}" defer
                data-turbo="false"></script>
        <script src="{{ asset('js/main_theme_base.js') }}" defer data-turbo="false"></script>

    {% endblock %}

</head>
<body>

<div id="page">
    <!-- Header Section Start -->
    <header class="header-section header-shadow sticky-header section">
        <div class="header-inner">
            <div class="container position-relative">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo Start -->
                    <div class="col-xl-3 col-auto">
                        <div class="header-logo">
                            <a href="{{ path('app_main') }}">
                                <img src="{{ asset('images/logo_eluv.png') }}"
                                     alt="Logo LaPirFormation">
                            </a>
                        </div>
                    </div>
                    <!-- Header Logo End -->

                    <!-- Header Main Menu Start -->
                    <div class="col d-none d-xl-block position-static">
                        <nav class="site-main-menu menu-hover-1">
                            <ul>
                                <li class="position-static">
                                    <a href="{{ path('app_main') }}"
                                       class="{{ app.request.attributes.get('_route') matches '/^app_main/'
                                       or app.request.attributes.get('_route') matches '/^home/' ? 'active' : '' }}">
                                        <span class="menu-text">Accueil</span>
                                    </a>
                                </li>
                                <li class="position-static">
                                    <a href="{{ path('app_formation') }}" class="">
                                        <span class="menu-text">Nos formations</span>
                                    </a>
                                </li>
                                <li class="position-static">
                                    <a href="{{ path('app_qui_sommes_nous') }}" class="">
                                        <span class="menu-text">Qui sommes nous ?</span>
                                    </a>
                                </li>
                                <li class="position-static">
                                    <a href="{{ path('app_contact') }}" class="">
                                        <span class="menu-text">Contactez nous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Main Menu End -->

                    <!-- Header Right Start -->
                    <div class="col-xl-3 col-auto">
                        <div class="header-right">
                            <div class="inner">

                                <!-- Header Search End -->
                                <div><i class="fa-solid fa-phone-volume"></i> 01 45 33 60 58</div>

                                <!-- Header Mobile Menu Toggle Start -->
                                <div class="header-mobile-menu-toggle d-xl-none ml-sm-2">
                                    <button class="toggle">
                                        <i class="icon-top"></i>
                                        <i class="icon-middle"></i>
                                        <i class="icon-bottom"></i>
                                    </button>
                                </div>
                                <!-- Header Mobile Menu Toggle End -->
                            </div>
                        </div>
                    </div>
                    <!-- Header Right End -->

                </div>
                <div class="row justify-content-center align-items-center mb-3">
                    <div class="col-8">

                        <!-- Header Search Start -->
                        <div class="header-search">
                            {# Bouton sur mobile #}
                            <button class="header-search-toggle"><i class="fas fa-search"></i></button>

                            <div class="header-search-form">
                                <form action="#">
                                    <input type="text" placeholder="Rechercher une formation ...">
                                    <button><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    {% block body %}{% endblock %}

    <footer class="footer-section section mt-5" data-bg-color="#171621">
        <div class="container">

            <!-- Footer Top Widgets Start -->
            <div class="row align-items-center">

                <!-- Footer Widget Start -->
                <div class="col-md-4 col-12 max-mb-50">
                    <div class="footer-widget light-color">
                        <h4 class="footer-widget-title">Nous contacter</h4>
                        <div class="footer-widget-content">
                            <div class="content">
                                <p>3 rue Jean Treffel - 24430 Annesse et Beaulieu</p>
                                <p>Téléphone : +33 6 62 67 15 55</p>
                                <p>Email : contact@lapir.fr</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-md-4 col-sm-7 col-12 max-mb-50">
                    <img src="{{ asset('images/logo-qualiopi.png') }}" alt="logo qualiopi" class="w-50">
                    <p class="mt-3">
                        LaPir Formation est un organisme de formation créé en 2022 dont le catalogue comprend plusieurs
                        dizaine de formations dans le domaine de l'informatique.
                    </p>
                    <p>
                        En faisant le choix d'un catalogue de formation restreint, nous nous assurons d'une haute
                        qualité avec
                        des programmes maîtrisés et toujours à jour.
                    </p>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-md-4 col-sm-5 col-12 max-mb-50">
                    <div class="footer-widget light-color">
                        <h4 class="footer-widget-title">Informations</h4>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="#">Mentions légales</a></li>
                                <li><a href="#">Vos données personnelles</a></li>
                                <li><a href="#">Plan du site</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

            </div>
            <!-- Footer Top Widgets End -->

            <!-- Footer Copyright Start -->
            <div class="row max-mt-20">
                <div class="col">
                    <p class="copyright">&copy; {{ 'now'|date('Y') }} LaPir Formation.
                    </p>
                </div>
            </div>
            <!-- Footer Copyright End -->

        </div>
    </footer>

</div>

{# Menu mobile #}
<div id="site-main-mobile-menu" class="site-main-mobile-menu">
    <div class="site-main-mobile-menu-inner">
        <div class="mobile-menu-header">
            <div class="mobile-menu-logo">
                <a href="index.html"><img src="{{ asset('images/logo_eluv.png') }}" alt="logo {{ APP_NOM_OF }}"></a>
            </div>
            <div class="mobile-menu-close">
                <button class="toggle">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-menu-content">
            <nav class="site-mobile-menu">
                <ul>
                    <li class="has-children position-static">
                        <a href="#"><span class="menu-text">Home</span></a>
                        <span class="menu-toggle"><i class="fas fa-angle-down"></i></span>

                        <ul class="mega-menu">
                            <li>
                                <ul>
                                    <li><a href="index.html"><span class="menu-text">MaxCoach Education <span
                                                    class="badge">Hot</span></span></a></li>
                                    <li><a href="index-2.html"><span class="menu-text">Course Portal</span></a></li>
                                    <li><a href="index-3.html"><span class="menu-text">Distant Learning <span
                                                    class="badge">Hot</span></span></a></li>
                                    <li><a href="index-4.html"><span
                                                class="menu-text">Multimedia Pedagogy</span></a></li>
                                    <li><a href="index-5.html"><span class="menu-text">Modern Schooling</span></a>
                                    </li>
                                    <li><a href="index-6.html"><span class="menu-text">Remote Training</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="index-7.html"><span class="menu-text">Health Coaching</span></a>
                                    </li>
                                    <li><a href="index-8.html"><span class="menu-text">Gym Coaching</span></a></li>
                                    <li><a href="index-9.html"><span class="menu-text">Business</span></a></li>
                                    <li><a href="index-10.html"><span class="menu-text">Artist <span
                                                    class="badge primary">New</span></span></a></li>
                                    <li><a href="index-11.html"><span class="menu-text">Kitchen Coach <span
                                                    class="badge primary">New</span></span></a></li>
                                    <li><a href="index-12.html"><span class="menu-text">Motivation <span
                                                    class="badge primary">New</span></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#"><span class="menu-text">Pages</span></a>
                        <span class="menu-toggle"><i class="fas fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="start-here.html"><span class="menu-text">Start Here</span></a></li>
                            <li><a href="success-story.html"><span class="menu-text">Success Story</span></a></li>
                            <li><a href="about-me.html"><span class="menu-text">About me</span></a></li>
                            <li><a href="about-us-1.html"><span class="menu-text">About us 01</span></a></li>
                            <li><a href="about-us-2.html"><span class="menu-text">About us 02</span></a></li>
                            <li><a href="about-us-3.html"><span class="menu-text">About us 03</span></a></li>
                            <li><a href="contact-me.html"><span class="menu-text">Contact me</span></a></li>
                            <li><a href="contact-us.html"><span class="menu-text">Contact us</span></a></li>
                            <li><a href="purchase-guide.html"><span class="menu-text">Purchase Guide</span></a></li>
                            <li><a href="privacy-policy.html"><span class="menu-text">Privacy Policy</span></a></li>
                            <li><a href="terms-of-service.html"><span class="menu-text">Terms of Service</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#"><span class="menu-text">Courses</span></a>
                        <span class="menu-toggle"><i class="fas fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="courses-grid-1.html"><span class="menu-text">Courses Grid 01</span></a>
                            </li>
                            <li><a href="courses-grid-2.html"><span class="menu-text">Courses Grid 02</span></a>
                            </li>
                            <li><a href="courses-grid-3.html"><span class="menu-text">Courses Grid 03</span></a>
                            </li>
                            <li><a href="membership-levels.html"><span
                                        class="menu-text">Membership Levels</span></a></li>
                            <li><a href="become-a-teacher.html"><span class="menu-text">Become a Teacher</span></a>
                            </li>
                            <li><a href="profile.html"><span class="menu-text">Profile</span></a></li>
                            <li><a href="checkout.html"><span class="menu-text">Checkout</span></a></li>
                            <li class="has-children">
                                <a href="course-details-sticky-feature-bar.html"><span
                                        class="menu-text">Single Layout</span></a>
                                <span class="menu-toggle"><i class="fas fa-angle-down"></i></span>
                                <ul class="sub-menu">
                                    <li><a href="course-details-free.html"><span
                                                class="menu-text">Free Course</span></a></li>
                                    <li><a href="course-details-sticky-feature-bar.html"><span class="menu-text">Sticky Features Bar</span></a>
                                    </li>
                                    <li><a href="course-details-standard-sidebar.html"><span class="menu-text">Standard Sidebar</span></a>
                                    </li>
                                    <li><a href="course-details-no-sidebar.html"><span
                                                class="menu-text">No Sidebar</span></a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#"><span class="menu-text">Event</span></a>
                        <span class="menu-toggle"><i class="fas fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="event.html"><span class="menu-text">Event</span></a></li>
                            <li><a href="zoom-meetings.html"><span class="menu-text">Zoom Meetings</span></a></li>
                            <li><a href="event-details.html"><span class="menu-text">Event Details</span></a></li>
                            <li><a href="zoom-event-details.html"><span
                                        class="menu-text">Zoom Meeting Details</span></a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#"><span class="menu-text">Blog</span></a>
                        <span class="menu-toggle"><i class="fas fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="blog-grid.html"><span class="menu-text">Blog Grid</span></a></li>
                            <li><a href="blog-masonry.html"><span class="menu-text">Blog Masonry</span></a></li>
                            <li><a href="blog-classic.html"><span class="menu-text">Blog Classic</span></a></li>
                            <li><a href="blog-list.html"><span class="menu-text">Blog List</span></a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#"><span class="menu-text">Shop</span></a>
                        <span class="menu-toggle"><i class="fas fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="shop.html"><span class="menu-text">Shop Left Sidebar</span></a></li>
                            <li><a href="shop-right-sidebar.html"><span class="menu-text">Shop Right Sidebar</span></a>
                            </li>
                            <li><a href="shopping-cart.html"><span class="menu-text">Cart</span></a></li>
                            <li><a href="shopping-cart-empty.html"><span class="menu-text">Cart Empty</span></a>
                            </li>
                            <li><a href="wishlist.html"><span class="menu-text">Wishlist</span></a></li>
                            <li><a href="product-details.html"><span class="menu-text">Single Product</span></a>
                            </li>
                            <li><a href="my-account.html"><span class="menu-text">My Account</span></a></li>
                            <li><a href="login-register.html"><span class="menu-text">Login Register</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{# fin Menu mobile #}

</body>
</html>
