{% extends 'admin/base_admin.html.twig' %}

{% block body %}

    <section class="main-content__section">
        <a href="{{ path('app_admin_domaine_ajouter') }}" class="btn btn--primary btn-sm mb-4"
           data-turbo="false">Ajouter un domaine de formation</a>

        <table class="table" data-table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>couleur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for domaine in domaines %}
                <tr>
                    <td>{{ domaine.nom }}</td>
                    <td>{{ domaine.couleur }}</td>
                    <td>

                        <a
                            href="{{ path('app_admin_domaine_modifier', {'id': domaine.id}) }}"
                            class="btn btn-sm btn--secondary mt-2" data-turbo="false">Modifier
                        </a>
                        <a
                            href="{{ path('app_admin_domaine_supprimer', {'id': domaine.id}) }}"
                            onclick="return confirm('Voulez-vous vraiment supprimer ce domaine ?')"
                            class="btn btn-sm btn--tertiary mt-2">Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
