{% extends 'admin/base_admin.html.twig' %}

{% block body %}

    <section class="main-content__section">
        <a href="{{ path('app_admin_module_ajouter') }}" class="btn btn--primary btn-sm mb-4"
           data-turbo="false">Ajouter un module de formation</a>

        <table class="table" data-table>
            <thead>
            <tr>
                <th>Formation</th>
                <th>Nom</th>
                <th>Ordre du module</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}
                <tr>
                    <td>{{ module.formation.nom }}</td>
                    <td>{{ module.nom }}</td>
                    <td>{{ module.ordre }}</td>
                    <td>

                        <a
                            href="{{ path('app_admin_module_modifier', {'id': module.id}) }}"
                            class="btn btn-sm btn--secondary mt-2" data-turbo="false">Modifier
                        </a>
                        <a
                            href="{{ path('app_admin_module_supprimer', {'id': module.id}) }}"
                            onclick="return confirm('Voulez-vous vraiment supprimer ce module ?')"
                            class="btn btn-sm btn--tertiary mt-2">Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
